* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(./wallpaperbetter.com_3840x2160\ \(1\).jpg);
    background-size: cover;
    font-family: sans-serif;
    font-size: 40px;
}
.menu-bar {
    background-color: SteelBlue;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li {
    width: 250px;
    margin: 30px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: white;
}
.main, .menu-bar ul li:hover {
    background: lightblue;
    border-radius: 3px;
}
.menu-bar .fas {
    margin-right: 15px;
}
.dop-menu {
    display: none;
}
.menu-bar ul li:hover .dop-menu {
    display: block;
    position: absolute;
    background: steelblue;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .dop-menu ul {
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .dop-menu ul li {
    width: 250px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .dop-menu ul li:last-child {
    border-bottom: none;
}
.menu-bar ul li:hover, .dop-menu ul li a:hover {
    color: lightblue;
}
.fa-angle-right {
    float: right;
}
.fa-angle-right {
    float: right;
}
.dop-menu2 {
    display: none;
}
.hover-me:hover .dop-menu2 {
    position: absolute;
    display: block;
    margin-top: -80px;
    margin-left: 300px;
    background: steelblue;
}